.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.routeWrapper  {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
