.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formIPC {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10;
}

.loaderContainer {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 0;
}

.textDate {
  margin: 10px;
}

.formBtns {
  margin: 10px;
}
